h1 {
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    padding: 20px;
}

form {
    margin: 0 25px;
    background-color: lightsteelblue;
}

input {
    width: 75%;
}

.addedCity {
    background-color: lightgray;
    color: black;
    margin: 5px;
    border: thin black solid;
    text-align: center;
    list-style: none;
}

.addedCity:hover {
    background-color: lightseagreen;
}

